# yaml-language-server: $schema=../../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
nelmio_cors:
    defaults:
        allow_headers: ['Content-Type', 'Authorization']
        allow_methods: ['DELETE', 'GET', 'PATCH', 'POST', 'PUT']
        allow_origin:
            - '%env(CORS_ALLOW_ORIGIN)%'
        max_age: 3600
        origin_regex: true
    paths:
        '^/api/': ~
